<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>556 609 400 135 0 0 1512 948 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>446 412 620 398 0 0 1512 948 </string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-03-19T09:16:03Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>browsers</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Applications/Firefox Developer Edition.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
	</array>
	<key>displayBrowserNames</key>
	<false/>
	<key>displayMode</key>
	<integer>0</integer>
	<key>iconSize</key>
	<integer>56</integer>
	<key>launchAtLogin</key>
	<true/>
</dict>
</plist>
