{
  "$schema": "https://opencode.ai/config.json",
  "model": "opencode-go/deepseek-v4-flash",
  "small_model": "opencode-go/deepseek-v4-flash",
  "default_agent": "plan",
  "permission": {
    "edit": "ask",
    "bash": "ask"
  },
  "instructions": ["AGENTS.md", "AGENTS-core.md"],
  "mcp": {
    "research-vault": {
      "type": "local",
      "command": [
        "/Users/loic.aublet/.local/bin/research-vault-mcp-remote"
      ],
      "enabled": true
    }
  }
}
